/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ====================================================================================================== */
/* My CSS */

*,*::before,*::after{
    box-sizing: border-box;
}

html {
    background-color: #ffc600;
    font-size: 20px;
    font-weight: 200;
}

body {
    margin: 0;
}

.panels {
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel{
    background: #6809fc;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    transition: 
        font-size 0.7s cubic-bezier(0.6, -0.19, 0.7, -0.11),
        flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        background 0.2s;
    font-size: 20px;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.panel1 { background-image:url(../stylesheets/images/coldplay.jpg); }
.panel2 { background-image:url(../stylesheets/images/linkin.jpg); }
.panel3 { background-image:url(../stylesheets/images/enrique.jpg); }
.panel4 { background-image:url(../stylesheets/images/backstreet.jpg); }
.panel5 { background-image:url(../stylesheets/images/greenday.png); }

/* Flex Item */
    .panel > * {
      margin: 0;
      width: 100%;
      transition: transform 0.5s;
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .panel > *:first-child {
        transform: translateY(-100%);
    }

    .panel.open-active > *:first-child {
        transform: translateY(0);
    }

    .panel.open-active > *:last-child {
        transform: translateY(0);
    }

    .panel > *:last-child {
        transform: translateY(100%);
    }

    .panel p {
      text-transform: uppercase;
      font-family: 'Kaushan Script', cursive;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 2em;
    }

    .panel p:nth-child(2) {
      font-size: 4em;
    }

    .panel.open {
      font-size: 40px;
      flex: 5;  
    }